In [25]:
import pandas as pd
import numpy as np
import sys

In [26]:
df = pd.read_csv(r"C:\Users\maxim\Desktop\js\linfit\test\archive\mnist_train.csv")

In [27]:
xcolnams = df.columns.tolist()
print("check0")
df[xcolnams[1:]] /= 255. #convert the pixel values to 0..1
print("check1")

df["ones"] = 1.
xcolnams += ["ones"]
Xs = df[xcolnams[1:]].values.T
print("check2")

check0
check1
check2

In [28]:
df

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28,ones
0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
59996,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
59997,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
59998,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
59999,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [29]:
ycolnams = []
for i in range(10):
    coln = "is"+str(i)
    ycolnams.append(coln)
    df[coln] = (df["label"] == i).astype(float)

In [30]:
Ys = df[ycolnams + ["ones"]].values.T

In [31]:
sys.path.append(r"C:\Users\maxim\Desktop\js\linfit")
from linfit import lay, lay_holder

In [40]:
model = lay_holder([lay(784,100), lay(100,100), lay(100,100), lay(100,100), lay(100,100), lay(100,100), lay(100,10)])

In [41]:
for j in range(1):
    for i in range(len(model.layers)):
        model.solve_update(Xs, Ys, n=len(model.layers)-i)
        forw = model.forward(Xs)
        mse = np.mean((forw[0,:] - Ys[0,:])**2)
        print(mse)

    for i in range(len(model.layers)):
        model.solve_update(Xs, Ys, n=i + 1)
        forw = model.forward(Xs)
        #print(forw.shape)
        mse = np.mean((forw[0,:] - Ys[0,:])**2)
        print(mse)

0.026780818631906185
0.06351799353117064
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.09871666666666666
0.0579738104326313
0.007481319807535704

In [42]:
forw = model.forward(Xs)
#print(forw.shape)
mse = np.mean((forw[0,:] - Ys[0,:])**2)

guessed = np.argmax(forw[:-1,:], axis=0)
# print(mse)

In [43]:
sum(guessed == df["label"].values) / len(guessed)

0.88975